body {
    font-family: "greycliff-cf", sans-serif;
    margin: 0;
}

    /* header stuff here */
    header {
        background-color: #585936;
        padding: 1rem 10px;
    }
    header span {
        color: #F2F2F2;
        font-size: 1.6rem;
        font-weight: 700;}


    /* navigation stuff here */
    nav {
        background-color: #736355;
    }
    nav ul {
        margin: 0;
        padding: 0 10px;
        list-style-type: none;
        display: flex;
    }

    nav a {
        display: block;
        padding: .83rem 1rem;
        text-decoration: none;
        font-size: 1.1rem;
        color: #0D0D0D;
        font-weight: 700;}

    nav li.active a {
        background-color: #F2F2F2;
        color: #585936;
    }

    nav li a:hover {
        color: #F2F2F2;
    }


    /* main stuff here */
    main{
        padding: 1rem 10px;
    }

    main h1 {
        color: #736355;
    }
    main h2 {
        color: #585936;
        margin-bottom: .2rem;
    }
    main p {
        margin: 0;
        color: #0D0D0D;
    }
    main ol {
        padding: .5rem 30px;
        background-color: #efefef;
    }

    main dl dt {
        color:#736355;
        font-weight: 700;
        margin-top: 1rem;
    }
    main dl dd {
        color: #585936;
        font-size: .9rem;
        margin-left: 20px;
    }
    main ul {
        list-style-type: circle;
    }
    main ul li {
        line-height: 125%;
        margin-bottom: .5rem;
        font-size: .9rem;
    }
    main strong {
        font-weight: 700;
        color: #0D0D0D;
    }
    main em {
        font-weight: 300;
        color: #585936;
    }
    main address {
        font-style: normal;
        background-color: #BFB0B6;
        padding: .5rem;
        border-radius: 10px;
        border: 1px solid #736355;
        width: 200px;
    }
    main a {
        color: #736355;
    }
    main a:hover {
        color: rgb(88, 89, 54);
    }


    /* footer stuff here */
    footer {
        background-color: #BFB0B6;
        text-align: center;
        padding: 1rem 0;
    }
    footer p {
        margin: 0;
        font-size: .8rem;
        color: #F2F2F2;
        letter-spacing: 3px;
    }
